.ItemForm {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	margin-bottom: 1.25em;
	padding-bottom: 1.25em;
	position: relative;
}

.ItemForm + .ItemForm {
	margin-top: 2.5em;
}

.ItemForm__remove-button {
	background: #fff;
	border: 2px solid var(--secondary-border);
	border-radius: 0.25em;
	bottom: -1em;
	font-weight: bold;
	margin-top: 0.25em;
	padding: 0 0.5em;
	position: absolute;
	right: 0;
}

.ItemForm__remove-button:hover,
.ItemForm__remove-button:focus {
	background: var(--focus-background);
	border-color: currentColor;
}

.ItemForm__remove-button:focus {
	outline: 2px solid;
	outline-offset: 2px;
}